.card{
    height: 350px;
    width: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-container{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card-media-grid{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 120px;
}

.card-media{
    border-radius: 50%;
    height: 200px;
    margin-top: 5%;
    width: 200px;
}

.info-grid {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiTypography-paragraph.artist-genres {
    margin: 5px 0 0 0;
}

.MuiTypography-paragraph.artist-type{
    margin: 5px 0 0 0;
}


